body{
    text-align: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCgB-wE4CFAKXM0qxrvFUi_MvZPd--fGRlDQ&usqp=CAU");
    background-repeat: no-repeat;
    background-size: cover

   
}

#scorehome{
    background: black;
    border: 7px solid black;
    border-radius: 10px;
    color: red;
    width: 155px;
    height: 120px;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    margin-top: 0px;

    
}

#title{
    color:  white;
}

#scoreguest{
    background: black;
    border: 7px solid black;
    border-radius: 10px;
    color: red;
    width: 155px;
    height: 120px;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    margin-top: 0px;
}


#container{

    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    

}

#Home{
   margin-right: 100px;
}

#Guest{

    margin-top: 0px;

}




#btn-1{
    box-sizing: border-box;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    margin-right: 9px;
    margin-top: 0px;
    
}

#btn-2{
    box-sizing: border-box;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    margin-right: 11px;
    margin-top: 0px;
}

#btn-3{
    box-sizing: border-box;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    margin-top:auto;
}




